<?xml version="1.0"?>
<configuration>
  <location path="GetOrderList.aspx">
    <system.web>
      <authorization>
        <allow users="QueryFound,103staff" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GetTeamOrder.aspx">
    <system.web>
      <authorization>
        <allow users="TeamQuery" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>

